<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="pragma" content="no-cache" />
	<meta http-equiv="Cache-Control" content="no-cache,must-revalidate" />
	
	<title>Wiwide登录页面</title>
	<link rel="stylesheet" href="/static/main/Login/login.css"/>
	<script src="/static/main/js/jquery.min.js"></script>
	<script src="/static/main/Login/supersized.3.2.7.min.js"></script>
    <script src="/static/main/Login/login.js"></script>
</head>

<style>
</style>

<body>
 <div class="page-container">
    <h1>记账吧</h1>
    <div id="login_div">
    	<div class="error"></div>
        <input type="text" id="username" class="username" placeholder="用户名">
        <input type="password" id="password" class="password" placeholder="密码">
        <button type="button" id="submit_bt" onclick="submit_info();" data-next="{{next}}">登录</button>
    </div>
</div>
<script>
$(document).keypress(function(e){
    if (e.which == 13) {$("#submit_bt").click(); }
});
</script>
</body>
</html>